NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/wclogs_recap
DISCORD_PUBLIC_KEY=your_public_key
DISCORD_APPLICATION_ID=your_application_id
DISCORD_BOT_TOKEN=your_bot_token
WCL_CLIENT_ID=your_wcl_client_id
WCL_CLIENT_SECRET=your_wcl_client_secret
WCL_API_BASE_URL=https://www.warcraftlogs.com/api/v2/client
WCL_USE_FIXTURES=true
